.footer {
  flex-grow: 0;
  margin-top: auto;
  font-size: 16px;
  line-height: 1.18;
  // color: rgba(84, 84, 84, 1);
  padding: 34px 0;
  text-align: center;
  box-shadow: 0px 0px 1px 0px;
  // background-color: rgba(247, 247, 247, 1);

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;
    .footer__text-span {
      display: block;
      margin-bottom: 13px;
    }
  }
}

.footer__icon {
  fill: #ff6b08;
  margin: 0 10px;
  animation: heartAnimation 1s ease infinite;
}

.footer__link {
  cursor: pointer;
  text-decoration: underline;
  // color: rgba(84, 84, 84, 1);
}

.footer__link:hover,
.footer__link:focus {
  color: #ff6b08;
}

@keyframes heartAnimation {
  0% {
    transform: scale(1.25);
  }

  20% {
    transform: scale(1.5);
  }

  40% {
    transform: scale(1.25);
  }

  60% {
    transform: scale(1.5);
  }

  80% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.25);
  }
}
