/* ======= Header ======= */
.header__bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 230px;

  // Mobile screen
  background-image: url(../image/header-bg-320.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../image/header-bg-320@2x.jpg);
  }

  // Tablet screen
  @media screen and (min-width: 768px) {
    min-height: 216px;
    background-image: url(../image/header-bg-768.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../image/header-bg-768@2x.jpg);
    }
  }

  // Desktop screen
  @media screen and (min-width: 1280px) {
    background-image: url(../image/header-bg-1280.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../image/header-bg-1280@2x.jpg);
    }
  }
}

.header__home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo__span {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  gap: 39px;
  margin-left: auto;
}

.nav__link {
  position: relative;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  color: #ffffff;
}

.search__form {
  position: relative;
  margin: auto;
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 768px) {
    width: 394px;
  }
}

.search__input {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  border: none;

  font-family: 'Roboto';

  font-style: normal;
  font-size: 14px;
  line-height: 1.16px;

  color: #ffffff;
  background-color: transparent;
  border-bottom: 0.5px solid #ffffff;
}

.search__input::placeholder {
  color: #ffffff;
}

.search__btn {
  position: absolute;

  bottom: 2px;
  right: -2px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav__link--active::after {
  content: '';
  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);

  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: #ff001b;
}

.p__header {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  margin-top: 20px;
  align-items: center;
  text-align: center;

  color: #ff001b;
}

.p__hidden {
  display: none;
}

.library__btn {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.btn__header {
  font-family: ‘Roboto’, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  height: 44px;
  min-width: 110px;
  &:hover,
  &:focus {
    border: none;
    background-color: #ff6b01;
  }
  @media screen and (min-width: 768px) {
    min-width: 125px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 136px;
    margin-left: 8px;
  }
}

.header__bg--library {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 230px;

  // Mobile screen
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../image/header-bgLib-320.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../image/header-bgLib-320@2x.jpg);
  }

  // Tablet screen
  @media screen and (min-width: 768px) {
    min-height: 216px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../image/header-bgLib-768.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../image/header-bgLib-768@2x.jpg);
    }
  }

  // Desktop screen
  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../image/header-bgLib-1280.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../image/header-bgLib-1280@2x.jpg);
    }
  }
}
