.modal {
  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;

    color: #080808;

    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.17;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__btn__active {
    border: none;
    color: #ffffff;
    background-color: #ff6b01;
  }
}

.film {
  &__item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: #8c8c8c;
    width: 69px;
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #080808;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #080808;
  text-transform: uppercase;
  border: 1px solid #080808;
  border-radius: 5px;
  background-color: transparent;
  height: 44px;
  min-width: 110px;
  cursor: pointer;
  &:hover,
  &:focus {
    border: none;
    color: #ffffff;
    background-color: #ff6b01;
  }
  @media screen and (min-width: 768px) {
    min-width: 125px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 136px;
  }
  &__wrapper {
    display: flex;
    gap: 20px;
    @media screen and (min-width: 768px) {
      gap: 15px;
    }
  }
}

.description {
  &__headline {
    align-items: center;
    text-transform: uppercase;

    color: #080808;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 8px;
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;

    color: #080808;
  }
}

.image__modal {
  width: 240px;
  height: 375px;
  border-radius: 5px;
  object-fit: cover;
  @media screen and (min-width: 768px) {
    width: 264px;
  }
  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
  }
}

.modal__wrapper {
  display: flex;
  gap: 40px;

  @media screen and (min-width: 1280px) {
    gap: 83px;
  }
}

.text__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text__rating {
  color: #ffffff;
  background-color: #ff6b01;
  border-radius: 5px;
  padding: 0 9px 0 10px;
}

.btn__wrapper {
  display: flex;
  justify-content: space-around;
}

.btn__trailer {
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  @media screen and (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}
