:root {
  --bg-color: #ffffff;
  --bg-color-footer: #f7f7f7;
  --bg-color-modal: #ffffff;
  --text-color: #212121;
  --text-color-footer: #212121;
  --text-color-modal-prim: #080808;
  --text-color-modal-sec: #8c8c8c;
}

[data-theme='dark'] {
  --bg-color: #192027;
  --bg-color-footer: #323b44;
  --text-color: #e0e0e0;
  --text-color-footer: #e0e0e0;
  --bg-color-modal: #192027;
  --text-color-modal-prim: #e0e0e0;
  --text-color-modal-sec: #a7a7a7;
}

//////////////// body&footer colorize

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.footer {
  color: var(--text-color-footer);
  background-color: var(--bg-color-footer);
}

//////////////// modal colorize

.modal,
.btn,
.description {
  color: var(--text-color-modal-prim);
  background-color: var(--bg-color-modal);
}
.btn {
  border: 1px solid var(--text-color-modal-prim);
}
.modal-btn-close {
  path {
    stroke: var(--text-color-modal-prim);
  }
}
.film {
  &__item {
    color: var(--text-color-modal-sec);
  }
  &__text {
    color: var(--text-color-modal-prim);
  }
}

//////////////// modal-team colorize

.modal-team {
  background-color: var(--bg-color-modal);
}
.team-box:hover {
  background-color: var(--bg-color);
}
.git-icon-wrapper {
  background-color: var(--bg-color);
}
.git-icon-wrapper:hover {
  background-color: var(--bg-color);
}
//////////////// toggle-button settings

.toggle-button {
  -webkit-appearance: none;
  outline: none;
  width: 28px;
  height: 16px;
  background-color: #b81111;
  border-radius: 15px;
  position: relative;
  transition: 0.4s;
}

.toggle-button:before {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: 0.4s;
}

.toggle-button:checked {
  background-color: #ffffff;
}

.toggle-button:checked:before {
  transform: translate(75%);
  background-color: #b81111;
  transition: 0.4s;
}
