<div class="container js-main-container">
    <ul class="movie js-movie-gallery">
      <li class="movie__item">
        <img src="./images/card18.png" alt="movie poster" width="394" />
        <h2 class="movie__title">movie_title
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>
    
      <li class="movie__item">
        <img src="./images/card18.png" alt="movie poster" width="394" />
        <h2 class="movie__title">movie_title
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>
    
      <li class="movie__item">
        <img src="./images/card18.png" alt="movie poster" width="394" />
        <h2 class="movie__title">movie_title
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>
    
      <li class="movie__item">
        <img src="./images/card18.png" alt="movie poster" width="394" />
        <h2 class="movie__title">movie_title
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>
    
      <li class="movie__item">
        <img src="./images/card18.png" alt="movie poster" width="394" />
        <h2 class="movie__title">movie_title
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>
    
      <li class="movie__item">
        <img src="./images/card18.png" alt="movie poster" width="394" />
        <h2 class="movie__title">movie_title
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>

      <li class="movie__item">
        <img src="./images/card18.png" alt="movie poster" width="394" />
        <h2 class="movie__title">movie_title
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>
    
      <li class="movie__item">
        <img src="./images/card18.png" alt="movie poster" width="394" />
        <h2 class="movie__title">movie_title
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>
    
      <li class="movie__item">
        <img src="./images/card18.png" alt="movie poster" width="394" />
        <h2 class="movie__title">movie_title
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>
    </ul>
</div>