<main>
  <div class="container js-main-container-library">
    <ul class="movie js-movie-gallery-library">
      <li class="movie__item">
        <img
          class="movie__image"
          src="./image/header-bg-1280.jpg"
          alt="movie poster"
          width="394"
        />
        <h2 class="movie__title">movie_title</h2>
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>

      <li class="movie__item">
        <img
          class="movie__image"
          src="./image/header-bg-1280.jpg"
          alt="movie poster"
          width="394"
        />
        <h2 class="movie__title">movie_title</h2>
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>

      <li class="movie__item">
        <img
          class="movie__image"
          src="./image/header-bg-1280.jpg"
          alt="movie poster"
          width="394"
        />
        <h2 class="movie__title">movie_title</h2>
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>

      <li class="movie__item">
        <img
          class="movie__image"
          src="./image/header-bg-1280.jpg"
          alt="movie poster"
          width="394"
        />
        <h2 class="movie__title">movie_title</h2>
        <p class="movie__details">
          <span class="movie__genre">genre1, genre-2</span>|<span
            class="movie__year-of-relise"
            >2022</span
          >
        </p>
      </li>
    </ul>
  </div>
</main>
