<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal-btn-close" data-modal-close type="button">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 8L22 22" stroke="black" stroke-width="2"/>
                <path d="M8 22L22 8" stroke="black" stroke-width="2"/>
            </svg>                
        </button>
        <div class="modal__container">
            <!-- <img src="" alt=""  class="image__modal">
            <div class="modal__content">  
                <h2 class="modal__title js__modal__title"></h2> 
                <ul class="film__list js__film__list">
                    <li class="film__item js__film__item">Vote / Votes<span class="film__text js__film__text">/1260</span></li>
                    <li class="film__item js__film__item">Popularity<span class="film__text js__film__text"></span></li>
                    <li class="film__item js__film__item">Original Title<span class="film__text js__film__text"></span></li>
                    <li class="film__item js__film__item">Genre<span class="film__text js__film__text"></span></li>
                </ul>
            <p class="description__headline js__description__headline">About</p>
            <p class="description__text js__description text"></p>
                <div class="btn__wrapper"> 
                    <button class="btn btn__watched js__btn__watched" type="button">add to Watched</button>
                    <button class="btn btn__queue js__btn__queue" type="button">add to queue</button>
                </div>
           
             </div> -->
        </div> 
    </div>
 </div>