<div class="backdrop-team is-hidden">
  <div class="modal-team" data-team-modal>
    <button type="button" class="team-close-btn js-close" data-team-close>
      <svg
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="modal-btn-close js-close"
      >
        <path d="M8 8L22 22" stroke="black" stroke-width="2" />
        <path d="M8 22L22 8" stroke="black" stroke-width="2" />
      </svg>
    </button>
    <div class="modal-content">
      <h1 class="title-team">
        <div class="title-wrapper">
          Java <for>Scream </for><for>Скриптизери</for> Team
        </div>
      </h1>
      <ul class="list-team">
        <li class="team-item">
          <a
            href="https://github.com/Alex-Underr"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="team-box">
              <img
                class="avatar"
                src="./image/avatar-photo-team.png"
                alt="Cat"
                width="200px"
              />
              <h2 class="team-name">Oleksandr Varakuta</h2>
              <p class="team-role">Team Lead</p>
              <div class="git-icon-wrapper">
                <svg class="git-icon" width="28" height="28">
                  <use href="./image/icon.svg#icon-github-icon"></use>
                </svg>
              </div>
            </div>
          </a>
        </li>
        <li class="team-item">
          <a
            href="https://github.com/alinchees"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="team-box">
              <img
                class="avatar"
                src="./image/avatar-photo-team.png"
                alt="Cat"
                width="200px"
              />
              <h2 class="team-name">Alina Marnopolska</h2>
              <p class="team-role">Scrum Master</p>
              <div class="git-icon-wrapper">
                <svg class="git-icon" width="28" height="28">
                  <use href="./image/icon.svg#icon-github-icon"></use>
                </svg>
              </div>
            </div>
          </a>
        </li>
        <li class="team-item">
          <a
            href="https://github.com/yuliiamaiboroda"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="team-box">
              <img
                class="avatar"
                src="./image/avatar-photo-team.png"
                alt="Cat"
                width="200px"
              />
              <h2 class="team-name">Yuliia Maiboroda</h2>
              <p class="team-role">Developer</p>
              <div class="git-icon-wrapper">
                <svg class="git-icon" width="28" height="28">
                  <use href="./image/icon.svg#icon-github-icon"></use>
                </svg>
              </div>
            </div>
          </a>
        </li>
        <li class="team-item">
          <a
            href="https://github.com/SenYaroslav"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="team-box">
              <img
                class="avatar"
                src="./image/avatar-photo-team.png"
                alt="Cat"
                width="200px"
              />
              <h2 class="team-name">Yaroslav Seniuk</h2>
              <p class="team-role">Developer</p>
              <div class="git-icon-wrapper">
                <svg class="git-icon" width="28" height="28">
                  <use href="./image/icon.svg#icon-github-icon"></use>
                </svg>
              </div>
            </div>
          </a>
        </li>
        <li class="team-item">
          <a
            href="https://github.com/FrancuzAlexandr"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="team-box">
              <img
                class="avatar"
                src="./image/avatar-photo-team.png"
                alt="Cat"
                width="200px"
              />
              <h2 class="team-name">Oleksandr Argunov</h2>
              <p class="team-role">Developer</p>
              <div class="git-icon-wrapper">
                <svg class="git-icon" width="28" height="28">
                  <use href="./image/icon.svg#icon-github-icon"></use>
                </svg>
              </div>
            </div>
          </a>
        </li>
        <li class="team-item">
          <a
            href="https://github.com/olegtremba1234"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="team-box">
              <img
                class="avatar"
                src="./image/avatar-photo-team.png"
                alt="Cat"
                width="200px"
              />
              <h2 class="team-name">Oleg Tremba</h2>
              <p class="team-role">Developer</p>
              <div class="git-icon-wrapper">
                <svg class="git-icon" width="28" height="28">
                  <use href="./image/icon.svg#icon-github-icon"></use>
                </svg>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
